# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for testing

[member]
hostname="example.org"
username="username"
password="password"
database="db_name"

[event]
hostname="example.org"
username="username"
password="password"
database="db_name"

[poll]
hostname="example.org"
username="username"
password="password"
database="db_name"

[sale]
hostname="example.org"
username="username"
password="password"
database="db_name"


[settings]
hostname="example.org"
username="username"
password="password"
database="db_name"